* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
	font-size:16px;
	font-family: 'Lexend', sans-serif;
	background-color: #15131c;
	user-select: none;
}

.menu .title {
	color: white;
	font-size: 2rem;
	position: absolute;
	left: 0;
	top: 0;
	height: 75px;
	width: 100vw;
	background-color: rgba(5, 4, 8, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
}



.menu .main {
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	left: 50px;
	top: 50px;
	width: calc(100vw - 100px);
	height: calc(100vh - 100px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
}

.rooms {
	display: flex;
	justify-content: baseline;
	align-items: center;
	flex-direction: column;
	left: 10%;
	top: 10%;
	width: 80%;
	height: 80%;
	overflow-y: auto;
	background-color: rgba(12, 9, 20, 0.4);
}

.room {
	position: relative;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	transition: background-color 0.1s linear;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-right: 60px;
	padding-left: 60px;
	cursor: pointer;
	font-size: 1rem;
}

.room-description {
	position: absolute;
	left: 100px;
	top: 55px;
}

.room-player-count {
	position: absolute;
	right: 30px;
	font-size: 1.6rem;
	top: 30px;
}

.room-name {
	font-weight: bold;
	font-size: 1.5rem;
}

.room:hover {
	background-color: rgba(11, 10, 20, 0.9);
}

.rooms .loader {
	border: 15px solid rgba(12, 9, 20, 0.4);
	border-bottom: 15px solid white;
	border-right: 15px solid white;
}

.menu {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
	color: white;
	background-color: #15131c;
	filter: saturate(150%);
	min-height: 100vh;
	min-width: 100vw;
	opacity: 1;
	animation: fade-in 0.8s linear;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.connection-text {
	color: white;
	font-size: 1.2rem;
	text-align: center;
	margin: 20px;
	margin-bottom: 200px;
	line-height: 30px;
}

.fade-out {
	opacity: 0;
}

.loading  {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	left: 0;
	top: 0;
	min-width: 100vw;
	min-height: 100vh;
	transition: opacity 0.7s linear;
}

.loading .loader {
	margin-top: 100px;
}

.loader{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius:50%;
	border: 15px solid #15131c;
	border-bottom: 15px solid white;
	border-right: 15px solid white;
	transform: rotate(0deg);
	animation:animate 1.2s linear infinite;
}




@keyframes animate{
	0%{
		transform:rotate(0deg);
	}
	50%{
		transform: rotate(180deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

.hidden {
	display: none !important;
}